@import url("https://fonts.googleapis.com/css2?family=Allison&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", serif;
}
.login-account-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-radius: 0.5rem;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
}
.main-container {
  width: 100%;
  height: 100vh;
  display: none;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  position: relative;
}
.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}
.contact-form {
  width: 100%;
  max-width: 30%;
  height: fit-content;
  background: #fff;
  border-radius: 0.5rem;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 0.6rem;
  color: #555;
  cursor: pointer;
  font-weight: 600;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.form-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem;
}
.form-heading span {
  width: 50%;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  color: #555;
  font-weight: 600;
  cursor: pointer;
}
.login-form {
  display: flex;
  flex-direction: column;
  padding: 0rem;
  box-sizing: border-box;
}
.register-form {
    display: none;
    flex-direction: column;
    padding: 0rem;
    box-sizing: border-box;
}
form {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
}
form input {
  margin: 10px 0;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-radius: 0.5rem;
  outline: none;
}
form input::placeholder {
  font-size: 1rem;
  letter-spacing: 2px;
  color: #ccc9c9;
}
form button {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-radius: 0.5rem;
  font-size: 1rem;
  letter-spacing: 1px;
}
